<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandesh Home</title>
    <link rel="stylesheet" href="style.css">
    <script src="./sandesh.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/socket.io/socket.io.js"></script>


</head>
<body>
    <div class="row">       
   
        <div class="col-4" style="background-color: darkolivegreen; ">
            <div ><h3 id="heading"></h3></div><br>
            <button id="createGroupBtn">Create Chat Group</button><br><br>
            <ul id="chat-group" class="no-bullets"></ul>
        </div>

        <div class="col-8" style="background-color: aquamarine;">
            <span id="groupNameDisplay" style="position: absolute; top: 0%;"></span>
            <span id="groupMenu" style="display: none; position: absolute; top: 5%;">
                <button type="button" id="addMemberBtn">Add Member</button>
                <button type="button" id="deleteMemberBtn">Delete Member</button>
                <button type="button" id="deleteGroupBtn">Delete Group</button>
                <button type="button" id="addAdminBtn">Add Admin</button>
            </span>
            <!-- create new group -->
            <form id="groupDetails" style="display: none; position: absolute; top: 20%;">
                <label for="groupName">Group Name:</label>
                <input type="text" name="groupName" id="groupName"><br>
                
                <div id="groupMembers"></div><br>
              
                <button type="button" id="createGroupFormBtn">Create Group</button><br>
            </form>
            <!-- update group members -->
            <form id="groupUpdate" style="display: none; position: absolute; top: 20%;">
                <h3>Reselect Group Members</h3>
                <div id="updateGroupMembers"></div><br>
              
                <button type="button" id="updateGroupFormBtn">Update Group Members</button><br>
            </form>
            <!-- delete members from group -->
            <form id="deleteMemberFromGroup" style="display: none; position: absolute; top: 20%;">
                
                <div id="deleteGroupMembers"></div><br>
              
                <button type="button" id="deleteMemberFromGroupFormBtn">Delete Group Members</button><br>
            </form>
            <!-- add admin to group -->
            <form id="addAdminForm" style="display: none; position: absolute; top: 20%;">
                
                <div id="addAdminMembers"></div><br>
              
                <button type="button" id="addAdminFormBtn">Add Admin</button><br>
            </form>
            <!-- UL to display chat messages -->
            <ul id="chat-list" style="position:absolute; top:10%; width: 65%;" class="no-bullets">
    
            </ul>

            <form id="message-form">
                <input type="text" id="message-input">
                <button type="submit" id="send-button">Send</button>
            </form>
        </div>
    </div>

</body>
</html>
