<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT APP</title>
    <script src="signup.js" defer></script>
</head>
<body>
    <form action="/user/signup">
        <input type="text" id="name" name="name">
        <input type="number" name="number" id="number">
        <input type="email" id="email" name="email">
        <input type="password" name="password" id="password">
        <button id="signupBtn">Sign UP</button>
    </form>
</body>
</html>